# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources in .tf files
*_override.tf
*_override.tf.json
# Include any planned changes in files ending in ".tfplan"
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc

# Ignore backup files created by the text editor or operating system
*~
*.bak
*.swp
*.backup
*.orig
*.tmp

# Ignore specific IDE directories and files
.vscode/
.idea/
*.iml

*.json

*.lock.hcl
